*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(176, 182, 187);
}

.barra {
    padding: 5%;
    background-color: rgb(31, 30, 30);
    box-shadow: 2px 2px 10px black;
    z-index: 3;
}

.BTmenu {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.BTmenu:hover {
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.285);
}

.line {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid rgb(255, 255, 255);
    width: 35px;
    margin-top: 10px;
}

.img1 {
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translate(-50%);
}

.bar_cat {
    background-color: rgb(34, 35, 36);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    width: 50%;
    height: 0px;
    z-index: 2;
    overflow: hidden;
}

.animar1 {
    animation: abrir1 300ms ease-in-out forwards;
}

.animar2 {
    animation: fechar1 300ms ease-in-out forwards;
}

@keyframes abrir1 {
    from {
        height: 0px;
    }
    to {
        height: 75px;
    }
}

@keyframes fechar1 {
    from {
        height: 75px;
    }
    to {
        height: 0px;
    }
}

.BTcat {
    background-color: rgb(34, 35, 36);
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
    border: none;
    border-radius: 50%;
    box-shadow: 2px 2px 10px black;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: -1;
}

.BTcat:hover {
    background-color: rgb(66, 67, 69);
    border: 1px solid white;
}

.BTcat:active {
    background-color: white;
    border: 2px solid black;
}

.cats {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    /*border: 1px solid rgb(255, 255, 255);*/
    width: 85%;
    height: 70px;
    display: flex;
    flex-direction: row;
}

.CXcat {
    position: relative;
    left: 80px;
    width: 120px;
    height: 50px;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
}


.cat1 {
    color: white;
    font-size: 20px;
    position: relative;
    width: 90px;
    left: 13%;
    top: 50%;
    /*transform: translateY(-50%);*/
}

.cat2 {
    color: white;
    font-size: 20px;
    position: relative;
    left: 20%;
    top: 50%;
    /*transform: translateY(-50%);*/
    pointer-events: none;
}

.cat3 {
    color: white;
    font-size: 20px;
    position: relative;
    left: 13%;
    top: 50%;
    /*transform: translateY(-50%);*/
    pointer-events: none;
}

.box {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.128);
    z-index: 5;
}

.animar3 {
    animation: deslizar 300ms ease-in-out forwards;
}

.animar4 {
    animation: deslizar1 300ms ease-in-out forwards;
}

@keyframes deslizar {
    from {
        top: 120px;
    }
    to {
        top: 190px;
    }
}

@keyframes deslizar1 {
    from {
        top: 190px;
    }
    to {
        top: 120px;
    }
}

/*--MENU_MÚSICA--*/

.layout {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 25%;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    width: 1300px;
    height: 360px;
    overflow-y: hidden;
    overflow-x: scroll;
    z-index: -2;
}

.layout::-webkit-scrollbar {
    background-color: aqua;
    height: 0;
}

.layout::-webkit-scrollbar-thumb {
    background-color: black;
}

.CXitem {
    background-color: rgb(66, 66, 66);
    width: 250px;
    height: 350px;
    position: relative;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.CXlayout:hover > :not(:hover) {
    transform: scale(0.9);
    background-color: rgb(41, 40, 40);
}

#BT1 {
    color: black;
    position: sticky;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: none;
    background-color: aliceblue;
    z-index: 2;
    cursor: pointer;
}

#BT1:hover {
    background-color: rgb(180, 184, 187);
    border: 1px solid white;
    color: white;
}

#BT1:active {
    transform: scale(0.9);
    transition: 0.5s;
}

#BT2 {
    color: black;
    position: sticky;
    left: 1250px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: none;
    background-color: aliceblue;
    z-index: 2;
    cursor: pointer;
}

#BT2:hover {
    background-color: rgb(180, 184, 187);
    border: 1px solid white;
    color: white;
}

#BT2:active {
    transform: scale(0.9);
    transition: 0.5s;
}

#BT1, #BT2 {
    flex: 0 0 auto;
}

.CXlayout {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 5px;
    border: none;
    width: 3000px;
    height: 350px;
    animation: loop 20s linear infinite;
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

/*--ALBÚM-INT*/

.scale {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
    border: none;
    box-shadow: 1px 1px 5px 1px;
    border-radius: 5px;
    width: 220px;
    height: 210px;
    overflow: hidden;
}

.img2 {
    width: 100%;
    height: 100%;
}

.title1 {
    border: none;
    font-size: 35px;
    font-style: unset;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    text-shadow: 2px 2px 8px black;
}

/*---FORUMS---*/

.bar_forum {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 250px;
    top: 650px;
}
