*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

.calculadora {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    width: 407px;
    height: 583px;
}

.calcular {
    color: rgb(20, 20, 20);
    font-size: 50px;
    position: absolute;
    width: 100%;
    height: 75px;
    background-color: rgb(187, 181, 178);
}

.layout {
    position: relative;
    top: 75px;
    display: flex;
    flex-direction: row;
}

.layout nav {
    position: relative;
    margin-left: 1px;
}

nav .n1 {
    background-color: rgb(40, 39, 39);
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: 1px;
    cursor: pointer;
}

nav .n2 {
    background-color: rgb(34, 34, 34);
    width: 201px;
    height: 100px;
    position: absolute;
    margin-top: 1px;
    z-index: 1;
    cursor: pointer;
}

.n2:hover {
    background-color: rgb(62, 61, 61);
}

nav .n3 {
    background-color: rgb(34, 34, 34);
    width: 100px;
    height: 201px;
    position: absolute;
    margin-top: 1px;
    cursor: pointer;
}

.n3:hover {
    background-color: rgb(62, 61, 61);
}

.n1:hover {
    background-color: rgb(62, 61, 61);
}

div p {
    color: white;
    font-size: 65px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
    


